In [3]:
import pandas as pd, numpy as np

In [4]:
df = pd.read_csv('adult.data.csv')
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

How many of each race are represented in the data set?

In [4]:
def race_count():
    
    races = df['race'].value_counts()
    print('White:', races.iloc[0], 'Black:', races.iloc[1], 'Asian-PI:', races.iloc[2], 'Amer-Ind:', races.iloc[3], 'Other:', races.iloc[4])
    # using races[0], races[1], etc. is deprecated and .iloc is recommended for indexing by number in pandas
    
race_count()

White: 27816 Black: 3124 Asian-PI: 1039 Amer-Ind: 311 Other: 271

What's the average age of all men represented?

In [5]:
def average_age_men():
    
    all_men = df[['age', 'sex']][df['sex'] == 'Male'] # creating two column dataframe for age and sex,, limiting rows to only include Males
    avg_age = all_men['age'].mean()
    rounded = round(avg_age,1)
    print('Average age of men in dataset is:', rounded)

average_age_men()

Average age of men in dataset is: 39.4

Percent of people in data set with bachelor's degree?

In [59]:
def bachelors():
    
    edu_counts = df['education'].value_counts() # follows step by step coding procress
    total = edu_counts.sum()
    bach = edu_counts.iloc[2]
    percent = (bach / total) * 100
    rounded = round(percent, 1)
    print(rounded, "% of people in dataset have a bachelor's degree", (bach, total))

bachelors()

16.4 % of people in dataset have a bachelor's degree (5355, 32561)

Percent of people in data set who have a bachelor's, master's, or doctorate and make more than 50k?

In [60]:
def bmd_50(): # two conditionals (education, salary)

    edu = df[['education', 'salary']]
    edu_sal = df[['education', 'salary']][df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])] # limits all rows for education to be either of the three levels
    edu_sal_50 = edu_sal[edu_sal['salary'] == '>50K'] # limits all remaining rows to have a salary above 50k
    amount = len(edu_sal_50)
    percent = (amount / len(df)) * 100
    rounded = round(percent,1)
    print(rounded, '% of people in the data set have a Bachelors, Masters, or Doctorate and make more than 50K annually', (amount, len(df)))

bmd_50()

10.7 % of people in the data set have a Bachelors, Masters, or Doctorate and make more than 50K annually (3486, 32561)

Percent of people in data set without higher education making less than 50k?

In [61]:
def no_edu_50(): # same two conditionals (education, salary)

    edu = df[['education', 'salary']]
    no_edu = df[['education', 'salary']][df['education'].isin(['HS-grad', 'Some-college', '11th', '10th', '7th-8th', '9th', '12th', '5th-6th', '1st-4th', 'Preschool'])]
    no_edu_sal = no_edu[no_edu['salary'] == '>50K'] # same methods as previous function
    amount = len(no_edu_sal)
    percent = (amount / len(df)) * 100
    rounded = round(percent, 1)
    print(rounded, '% of people in the dataset have no higher education and make more than 50K annually')

no_edu_50()

10.2 % of people in the dataset have no higher education and make more than 50K annually

What is the minimum amount of hours a person in this data set has worked?

In [54]:
def min_hours(): # simple command function

    print(df['hours-per-week'].min(), 'hour(s) is the minimum amount recorded in this dataset') 

min_hours()

1 hour(s) is the minimum amount recorded in this dataset

Percent of data set that makes more than 50K annually?

In [63]:
def more_50(): # analyzing one condition

    salaries = df['salary'].value_counts()
    more = salaries.iloc[1]
    percent = (more / len(df)) * 100
    rounded = round(percent, 1)
    print(rounded, '% of data set makes more than 50K annually')

more_50()

24.1 % of data set makes more than 50K annually

Percent of people working minimum hours who make more than 50k?

In [76]:
def min_50():

    hours_sal = df[['hours-per-week', 'salary']]
    hours_sal_50 = df[['hours-per-week', 'salary']][df['hours-per-week'] == 1]
    amount = hours_sal_50.value_counts().iloc[1]
    percent = (amount / len(df)) * 100
    print(percent, '% of data set worked 1 hour and made more than 50K annually. This number can be rounded to 0 %')

min_50()

0.006142317496391388 % of data set worked 1 hour and made more than 50K annually. This number can be rounded to 0 %

Which country has the highest percent of people making more than 50k?

In [8]:
def highest_ctry():

    p_lst = []
    c_lst = []

    for i in df['native-country'].unique(): # iterates through every named country in data set
        pos = df[['native-country', 'salary']][df['native-country'] == i].value_counts() # visits every country's population ratio of income as a mini data frame
        if len(pos) != 1 or 0: # gets rid of positions where only one data point represents the country
            percent = (pos.iloc[1] / pos.sum()) * 100
            p_lst.append(percent)
            c_lst.append(i) # fills out both lists with percentages and country names respectively

    p_array = np.asarray(p_lst) # much easier than writing a searching algorithm myself ----> 41.86046511627907
    max_p = p_array.max() # ended up writing my own searching algorithm when that wasn't necesarry lol

    key = p_lst.index(41.86046511627907) # 12 index num
    rounded = round(max_p,1)

    print(c_lst[key], 'has the highest percentage of their population earning more than 50K annually ---->', rounded, '%')

highest_ctry()

Iran has the highest percentage of their population earning more than 50K annually ----> 41.9 %

Identify the most popular occupation for those who earn >50K in India.

In [137]:
def in_50():

    india = df[['occupation', 'native-country', 'salary']][df['native-country'] == 'India']
    india_50 = india[india['salary'] == '>50K']
    amount = india_50.value_counts().iloc[0] # gets 25 as a value
    totals = india_50.value_counts()

    max = 0
    for i in totals:
        if i > max:
            max = i

    print('Prof-Specialty is the most popular job that happens to make more than 50K annually with', max, 'represented in data set.')

in_50()

Prof-Specialty is the most popular job that happens to make more than 50K annually with 25 represented in data set.