In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('adult.data.csv')
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [3]:
def race_count():
    print(df['race'].value_counts())
race_count() # how many of each race are represented in the data set?

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

In [4]:
def average_age_men():
    all_men = df[['age', 'sex']][df['sex'] == 'Male']
    avg_age = all_men['age'].mean()
    print(round(avg_age,1))

average_age_men() # what's the average age of all men represented?

39.4

In [5]:
education_counts = df['education'].value_counts()
total = 0
for i in education_counts:
    total += i

In [7]:
def bachelors():
    education_counts = df['education'].value_counts()
    total = 0
    for i in education_counts:
        total += i
    percent = education_counts[2] / total
    print(round(percent*100,1))

bachelors() # percent of people in data set with bachelor's degree?

16.4

In [8]:
def bmd_50():
    bmd = ['Bachelors', 'Masters', 'Doctorate']
    bmd_df = df[['education', 'salary']][df['education'].isin(bmd)][df['salary'] == '>50K']
    high_50 = len(bmd_df)
    percent = high_50 / total
    print(round(percent*100,1))

bmd_50() # percent of people in data set who have a bachelor's, master's, or doctorate and make more than 50k?

10.7

C:\Users\zenit\AppData\Local\Temp\ipykernel_67400\2115342587.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  bmd_df = df[['education', 'salary']][df['education'].isin(bmd)][df['salary'] == '>50K']

In [9]:
df['education'].value_counts() # without advanced education is loosely interpreted.

education
HS-grad         10501
Some-college     7291
Bachelors        5355
Masters          1723
Assoc-voc        1382
11th             1175
Assoc-acdm       1067
10th              933
7th-8th           646
Prof-school       576
9th               514
12th              433
Doctorate         413
5th-6th           333
1st-4th           168
Preschool          51
Name: count, dtype: int64

In [10]:
def no_edu_50():
    no_edu = ['HS-grad', 'Some-college', '11th', '10th', '7th-8th', '9th', '12th', '5th-6th', '1st-4th', 'Preschool']
    no_edu_df = df[['education', 'salary']][df['education'].isin(no_edu)][df['salary'] == '<=50K']
    lucky_low = len(no_edu_df)
    percent = lucky_low / total
    print(round(percent*100,1), '%')

no_edu_50() # percent of people in data set without higher education making less than 50k

57.6 %

C:\Users\zenit\AppData\Local\Temp\ipykernel_67400\4106730714.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  no_edu_df = df[['education', 'salary']][df['education'].isin(no_edu)][df['salary'] == '<=50K']

In [11]:
def min_hours():
    hours = df['hours-per-week']
    print(hours.min(), 'hour(s)')

min_hours() # what is the minimum amount of hours a person in this data set has worked?

1 hour(s)

In [4]:
def more_50():
    salaries = df['salary'].value_counts()
    less = salaries[0]
    more = salaries[1]
    percent = (more / less) * 100
    print(round(percent, 1), '% of the dataset makes more than 50k.')

more_50()

salary
<=50K    24720
>50K      7841
Name: count, dtype: int64

In [12]:
hours = df['hours-per-week']
hours.value_counts()

hours-per-week
40    15217
50     2819
45     1824
60     1475
35     1297
      ...
82        1
92        1
87        1
74        1
94        1
Name: count, Length: 94, dtype: int64

In [13]:
def min_50():
    min_50_df = df[['hours-per-week', 'salary']][df['hours-per-week'] == 1][df['salary'] == '>50K']
    amount = len(min_50_df)
    percent = (amount / total) * 100
    print(percent, '% rounded to be', round(percent, 1), '%')

min_50() # percent of people working minimum hours who make more than 50k?

0.006142317496391388 % rounded to be 0.0 %

C:\Users\zenit\AppData\Local\Temp\ipykernel_67400\1376674811.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  min_50_df = df[['hours-per-week', 'salary']][df['hours-per-week'] == 1][df['salary'] == '>50K']

In [14]:
def highest_ctry():
    countries = df[['native-country', 'salary']]
    US_50 = countries.value_counts()[1]
    percent = (US_50 / total) * 100
    print('United States has',round(percent, 1), '% of the dataset earning more than 50k')

highest_ctry() # which country has the highest percent of people making more than 50k?

United States has 22.0 % of the dataset earning more than 50k

In [15]:
lst = []
for i in df['native-country'].unique():
    temp = df[['native-country', 'salary']][df['native-country'] == i].value_counts()
    percent = (temp.min() / temp.sum()) * 100
    print(percent, i)

24.583476174151524 United-States
26.31578947368421 Cuba
12.345679012345679 Jamaica
40.0 India
25.04288164665523 ?
5.132192846034215 Mexico
20.0 South
10.526315789473683 Puerto-Rico
7.6923076923076925 Honduras
33.33333333333333 England
32.231404958677686 Canada
32.11678832116788 Germany
41.86046511627907 Iran
30.808080808080806 Philippines
34.24657534246575 Italy
20.0 Poland
3.389830508474576 Columbia
36.84210526315789 Cambodia
16.666666666666664 Thailand
14.285714285714285 Ecuador
11.11111111111111 Laos
39.21568627450981 Taiwan
9.090909090909092 Haiti
10.81081081081081 Portugal
2.857142857142857 Dominican-Republic
8.49056603773585 El-Salvador
41.37931034482759 France
4.6875 Guatemala
26.666666666666668 China
38.70967741935484 Japan
37.5 Yugoslavia
6.451612903225806 Peru
100.0 Outlying-US(Guam-USVI-etc)
25.0 Scotland
10.526315789473683 Trinadad&Tobago
27.586206896551722 Greece
5.88235294117647 Nicaragua
7.462686567164178 Vietnam
30.0 Hong
20.833333333333336 Ireland
23.076923076923077 Hungary
100.0 Holand-Netherlands

### It appears Iran has the highest percentage of its population making more than 50K

In [46]:
def popular_india_jobs_50k():
    india = df[['occupation', 'native-country', 'salary']][df['native-country'] == 'India'][df['salary'] == '>50K']
    high = india.value_counts().max()
    total = india.value_counts().sum()
    percent = (high / total) * 100
    print(round(percent, 1), '% of all individuals in India making more than 50K are Prof-speciality')

popular_india_jobs_50k()

62.5 % of all individuals in India making more than 50K are Prof-speciality

C:\Users\zenit\AppData\Local\Temp\ipykernel_67400\1980795445.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  india = df[['occupation', 'native-country', 'salary']][df['native-country'] == 'India'][df['salary'] == '>50K']